
                      <footer class="page-footer heightfooter">
                        <div class="container">
                          <div class="row center">
                        
                            <div class="col s12 l6 rtl aboutus ">
                                <img Ø² src="dist/imge/logofoter.png" alt="" width="155" height="80">

                  
                             <p class="center-align">
                                Ø¨ÛŒØ³Ø±Ùˆ Ø³Ø§Ù…Ø§Ù†Ù‡ Ø§ÛŒ Ø§Ø³Øª Ú©Ù‡ Ø¨Ø±Ø§ÛŒ Ù…Ø¯ÛŒØ±ÛŒØª ØªØ±Ø¯Ø¯ Ø¯Ø§Ù†Ø´Â­ Ø¢Ù…ÙˆØ²Ø§Ù† Ú©Ù‡ Ø¨Ù‡ Ù…Ù‚ØµØ¯ Ú©Ù„Ø§Ø³Â­Ù‡Ø§ÛŒ Ø¢Ù…ÙˆØ²Ø´ÛŒØŒ Ù…Ø¯Ø§Ø±Ø³ØŒ Ù…ÙˆØ³Ø³Ø§Øª Ùˆ Ø³Ø§ÛŒØ± Ø§Ù…Ø§Ú©Ù† Ø¨Ù‡ ØµÙˆØ±Øª Ù…Ù†Ø¸Ù… Ø³ÙØ±Ù…ÛŒÂ­Ú©Ù†Ù†Ø¯ØŒ ÙØ±Ø§Ù‡Ù… Ú¯Ø±Ø¯ÛŒØ¯Ù‡ Ø§Ø³Øª.
                             </p>
                             </div>
              
                              <div class="col s12 l3 rtl ">
                              <h5 class="white-text">Ù„ÛŒÙ†Ú© Ù‡Ø§ÛŒ Ù…Ø±ØªØ¨Ø·</h5>
                              <ul>
                                <li><a class="white-text " href="#!"><p>Ø³ÛŒØ§Ø³Øª Ø­ÙØ¸ Ø­Ø±ÛŒÙ… Ø´Ø®ØµÛŒ</p></a></li>
                                <li><a class="white-text " href="#!"><p>Ù…Ø§ Ø±Ø§ Ù¾ÛŒØ¯Ø§ Ú©Ù†ÛŒØ¯</p></a></li>
                                <li><a class="white-text" href="#!"><p>Ø³ÙˆØ§Ù„Ø§Øª Ù…ØªØ¯Ø§ÙˆÙ„</p></a></li>
                                <li><a class="white-text " href="#!"><p>ØªÙ…Ø§Ø³ Ø¨Ø§ Ù…Ø§</p></a></li>
                              </ul>
                               </div>
              
                            <div class="col s12 l3 rtl ">
                              <h5 class="white-text">Ø´Ø¨Ú©Ù‡ Ù‡Ø§ÛŒ Ø§Ø¬ØªÙ…Ø§Ø¹ÛŒ</h5>
                              <ul class="horizontal">
                                <li ><a class="grey-text" href="#!"><img src="dist/imge/facebook.png" alt=""></a></li>
                                <li><a class="grey-text " href="#!"><img src="dist/imge/whatsup.png" alt=""></a></li>
                                <li><a class="grey-text  " href="#!"><img src="dist/imge/instagram.png" alt=""></a></li>
                                <li><a class="grey-text  " href="#!"><img src="dist/imge/twitter.png" alt=""></a></li>
                              </ul>
                             </div>
              
                          </div>
                        </div>
              
                        <div class="footer-copyright">
                          <div class="container center">
                            dd
                              ØªÙ…Ø§Ù… Ø­Ù‚ÙˆÙ‚ Ù…Ø§Ø¯ÛŒ Ùˆ Ù…Ø¹Ù†ÙˆÛŒ Ø§ÛŒÙ† Ø³Ø§Ù…Ø§Ù†Ù‡ (ÙˆØ¨ Ø³Ø§ÛŒØª Ùˆ Ø§Ù¾Ù„ÛŒÚ©ÛŒØ´Ù† Ù‡Ø§ÛŒ Ù…ÙˆØ¨Ø§ÛŒÙ„) Ø¨Ø±Ø§ÛŒ Ø´Ø±Ú©Øª ØªÙˆØ³Ø¹Ù‡ Ù…Ø¯ÛŒØ±ÛŒØª Ø§Ø±ØªØ¨Ø§Ø·Ø§Øª Ù…Ø§Ù†Ø¯Ú¯Ø§Ø± Ù…Ø­ÙÙˆØ¸ Ù…ÛŒØ¨Ø§Ø´Ø¯ 
                          </div>
                        </div>
                      </footer>
                    </body>
                    </html>