
<html>
   
    <head><meta charset=utf-8>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

       <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
       <title>bistro &bull; Frontend Developer and Snowboarder from iran</title>
       <meta name=viewport content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
             <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

       <link rel="stylesheet" href="dist/css/materialize.min.css">
     
       <link rel="stylesheet" href="dist/css/bistro.css?v5">
       <link rel="stylesheet" href="dist/css/font.css">
       <link rel="stylesheet" href="dist/css/materialize-rtl.css">
       

   <style>
   </style>
   </head>
   <body>

       <p  class="left">
       </p>
  
                  <nav class="no-background">
                     <div class="navbar-fixed ">
                         <div class="logo hide-on-med-and-down" >
                             <a href="index.html" class="brand-logo right"><img src="dist/imge/logo.png" alt="">
                             </a>
                             <a href="https://web.20ro.net" class="waves-effect waves-light btn-large btn-requset left ">
                               درخواست 
                           </a>

                           </div>
                           

                         <a href="#" data-target="mobile-demo" class="sidenav-trigger hide-on-large-only red-text"><i class="material-icons">menu</i></a>
             

                         <ul class="hide-on-med-and-down nav-radiuse">
                             <li><a  href="./contactus.html" onclick="gotodiv('#contact')"> تماس با ما </a></li>
                             <li><a href="./aboutus.html"  onclick="gotodiv('#aboutus')"> درباره ما </a></li>
                             <li><a href="./Guide.html" target="_blank"> راهنما </a></li>
                             <li><a  href="./Frequently.html"  >سوالات متداول</a></li>
                             <li><a href="./driver.html">رانندگان</a></li>
                             <li><a onclick="gotodiv('#hiredriver')">استخدام راننده</a></li>
                             <li><a href="https://driver.ilicar.ir/Account/Login?ReturnUrl=%2F">نسخه وب اپلیکیشن</a></li>
                             <li><a href="index.html">خانه</a></li>
                         </ul>
                     </div>
                     
                 </nav>